body{
  background-image: url("../images/background.png");
  background-repeat: repeat;
  font-family: Helvetica;
      line-height: 24px;
      padding: 0px;
      margin: 0px;
}

h3{
  font-style: italic;
  font-size: 18px;
  height: 100px;
}
h4{
  font-size: 20px;
      margin: 19px 0 6px 0;
}
.content{
  width:800px;
  margin: 0 auto;
  .introduction{
    .pic{
      float:right;
      margin:-36px 0 0 0;
    }
}
}
.intro-content{
  margin-top:46px;
  address{
      font-family: Helvetica !important;
      font-style: normal;
    a{
      color:$primary-color;
      text-decoration: none;
      border-bottom: 1px dotted $primary-color;
    }
  }

  h1{
      border-bottom: 1px solid $primary-color;
      font-size: 42px;
      padding-bottom: 10px;
  }
  .caption{
    font-style: italic;
    font-size: 16px;
    font-family: Georgia, serif;
    color: $primary-color;
  }
}
