body {
  background-image: url("../images/background.png");
  background-repeat: repeat;
  font-family: Helvetica;
  line-height: 24px;
  padding: 0px;
  margin: 0px; }

h3 {
  font-style: italic;
  font-size: 18px;
  height: 100px; }

h4 {
  font-size: 20px;
  margin: 19px 0 6px 0; }

.content {
  width: 800px;
  margin: 0 auto; }
  .content .introduction .pic {
    float: right;
    margin: -36px 0 0 0; }

.intro-content {
  margin-top: 46px; }
  .intro-content address {
    font-family: Helvetica !important;
    font-style: normal; }
    .intro-content address a {
      color: #999;
      text-decoration: none;
      border-bottom: 1px dotted #999; }
  .intro-content h1 {
    border-bottom: 1px solid #999;
    font-size: 42px;
    padding-bottom: 10px; }
  .intro-content .caption {
    font-style: italic;
    font-size: 16px;
    font-family: Georgia, serif;
    color: #999; }

.ability-content {
  padding-left: 50px;
  width: 700px; }
  .ability-content .education {
    margin-top: 61px;
    display: flex;
    flex-direction: row; }
    .ability-content .education h3 {
      padding-right: 21px;
      border-right: 1px solid #999; }
    .ability-content .education .edu-content {
      padding-left: 15px; }
    .ability-content .education span {
      font-weight: bold; }
